In [1]:
import pandas as pd
import numpy as ny
import warnings
warnings.filterwarnings("ignore")

In [2]:
olydf = pd.read_csv('./athlete_events.csv')

In [3]:
olydf

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

### 1) How many countries are represented in the dataset?

In [5]:
len(olydf['NOC'].unique())

230

### 2) What is the total number of medals awarded?

In [6]:
olydf.Medal.value_counts()

Medal
Gold      13372
Bronze    13295
Silver    13116
Name: count, dtype: int64

### 3) Which country has won the most medals?

In [7]:
olydf.groupby(['Team'])['Medal'].count().sort_values(ascending= False).head(3)

Team
United States    5219
Soviet Union     2451
Germany          1984
Name: Medal, dtype: int64

### 4) Which country has won the least medals?

In [8]:
olydf.groupby(['Team'])['Medal'].value_counts().sort_values().head(1)

Team    Medal
Zambia  Silver    1
Name: count, dtype: int64

### 5) How many medals were won by male athletes?

In [9]:
len(olydf.dropna(subset = ['Medal'])[olydf['Sex'] == 'M'])

28530

### 6) How many medals were won by female athletes ?

In [10]:
len(olydf.dropna(subset = ['Medal'])[olydf['Sex'] == 'F'])

11253

### 7) What is the distribution of medals amoung different age groups?

In [4]:
agen = [0,11,19,64,100]
aget = ['Child', 'Teenager', 'Adult', 'Senior']
olydf['Age_type'] = pd.cut(olydf.Age, bins=agen, labels=aget)

In [5]:
olydf.pivot_table(values='Medal', index='Age_type', aggfunc='count')

          Medal
Age_type
Child         2
Teenager   3406
Adult     35631
Senior       12

### 8) Which year had the highest number of medals?

In [13]:
olydf.groupby(['Year'])['Medal'].count().sort_values(ascending= False).head(1)

Year
2008    2048
Name: Medal, dtype: int64

### 9) Which city hosted the most number of Olympic events?

In [14]:
olydf.groupby(['City'])['Event'].count().sort_values(ascending = False).head(1)

City
London    22426
Name: Event, dtype: int64

### 10) What is the average of athletes who won medals?

In [15]:
olydf.groupby(['Medal'])['Age'].mean()

Medal
Bronze    25.879210
Gold      25.901013
Silver    25.996724
Name: Age, dtype: float64

### 11) How many male athletes participated in each Olympic events?

In [16]:
olydf[olydf['Sex'] == 'M'].pivot_table(values = 'Sex', index = 'Event', aggfunc='count')

                                                 Sex
Event
Aeronautics Mixed Aeronautics                      1
Alpine Skiing Men's Combined                     569
Alpine Skiing Men's Downhill                    1164
Alpine Skiing Men's Giant Slalom                1535
Alpine Skiing Men's Slalom                      1593
...                                              ...
Wrestling Men's Super-Heavyweight, Freestyle     192
Wrestling Men's Super-Heavyweight, Greco-Roman   192
Wrestling Men's Unlimited Class, Greco-Roman       5
Wrestling Men's Welterweight, Freestyle          430
Wrestling Men's Welterweight, Greco-Roman        360

[554 rows x 1 columns]

### 12) How many female athlete participated in each Olympic events?

In [17]:
olydf[olydf['Sex'] == 'F'].pivot_table(values='Sex', index='Event', aggfunc='count')

                                                Sex
Event
Alpine Skiing Women's Combined                  361
Alpine Skiing Women's Downhill                  708
Alpine Skiing Women's Giant Slalom              961
Alpine Skiing Women's Slalom                    966
Alpine Skiing Women's Super G                   402
...                                             ...
Wrestling Women's Flyweight, Freestyle           68
Wrestling Women's Heavyweight, Freestyle         64
Wrestling Women's Light-Heavyweight, Freestyle   18
Wrestling Women's Lightweight, Freestyle         67
Wrestling Women's Middleweight, Freestyle        68

[269 rows x 1 columns]

### 13) How many athlete from each country participated in each Olympic events?

In [18]:
olydf.pivot_table(values='Name', index='NOC', columns='Event', aggfunc='count')

Event,Aeronautics Mixed Aeronautics,Alpine Skiing Men's Combined,Alpine Skiing Men's Downhill,Alpine Skiing Men's Giant Slalom,Alpine Skiing Men's Slalom,Alpine Skiing Men's Super G,Alpine Skiing Women's Combined,Alpine Skiing Women's Downhill,Alpine Skiing Women's Giant Slalom,Alpine Skiing Women's Slalom,...,"Wrestling Men's Super-Heavyweight, Greco-Roman","Wrestling Men's Unlimited Class, Greco-Roman","Wrestling Men's Welterweight, Freestyle","Wrestling Men's Welterweight, Greco-Roman","Wrestling Women's Featherweight, Freestyle","Wrestling Women's Flyweight, Freestyle","Wrestling Women's Heavyweight, Freestyle","Wrestling Women's Light-Heavyweight, Freestyle","Wrestling Women's Lightweight, Freestyle","Wrestling Women's Middleweight, Freestyle"
NOC,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALG,NaN,NaN,NaN,2.0,2.0,2.0,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
AND,NaN,6.0,14.0,23.0,20.0,15.0,2.0,1.0,10.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YUG,NaN,10.0,21.0,33.0,37.0,6.0,2.0,4.0,17.0,17.0,...,3.0,NaN,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
ZAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZIM,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 14) How many athletes from each county won medals?

In [19]:
olydf.pivot_table(values='Medal', index='NOC', aggfunc='count')

     Medal
NOC
AFG      2
AHO      1
ALB      0
ALG     17
AND      0
..     ...
YEM      0
YMD      0
YUG    390
ZAM      2
ZIM     22

[230 rows x 1 columns]

### 15) How many gold,silver,bronze medals were won by each country?

In [20]:
olydf.pivot_table(values='Name', index='NOC', columns='Medal', aggfunc='count')

Medal  Bronze   Gold  Silver
NOC
AFG       2.0    NaN     NaN
AHO       NaN    NaN     1.0
ALG       8.0    5.0     4.0
ANZ       5.0   20.0     4.0
ARG      91.0   91.0    92.0
..        ...    ...     ...
VIE       NaN    1.0     3.0
WIF       5.0    NaN     NaN
YUG      93.0  130.0   167.0
ZAM       1.0    NaN     1.0
ZIM       1.0   17.0     4.0

[149 rows x 3 columns]

### 16) What is the distribution of medals based on genders?

In [45]:
olydf.pivot_table(values = 'Name', index = 'Sex', columns = 'Medal', aggfunc = 'count')

Medal  Bronze  Gold  Silver
Sex
F        3771  3747    3735
M        9524  9625    9381

### 17) How many athlete from each age group won medals?

In [22]:
olydf.pivot_table(values='Medal', index='Age_type', aggfunc = 'count')

          Medal
Age_type
Child         2
Teenager   3406
Adult     35631
Senior       12

### 18) In which year was the youngest athlete to won a medal?

In [32]:
olydf.dropna( subset = ['Medal']).sort_values(by='Age').head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Age_type
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze,Child

### 19) In which year was the oldest athlete to win a medal?

In [31]:
olydf.dropna( subset = ['Medal']).sort_values(by='Age', ascending = False).head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Age_type
44584,22984,John (Herbert Crawford-) Copley (Williamson-),M,73.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Graphic Arts",Silver,Senior

### 20) How many athlete participated in each Olympic event?

In [34]:
olydf.pivot_table( values = 'Name', index = 'Event', aggfunc = 'count')

                                                Name
Event
Aeronautics Mixed Aeronautics                      1
Alpine Skiing Men's Combined                     569
Alpine Skiing Men's Downhill                    1164
Alpine Skiing Men's Giant Slalom                1535
Alpine Skiing Men's Slalom                      1593
...                                              ...
Wrestling Women's Flyweight, Freestyle            68
Wrestling Women's Heavyweight, Freestyle          64
Wrestling Women's Light-Heavyweight, Freestyle    18
Wrestling Women's Lightweight, Freestyle          67
Wrestling Women's Middleweight, Freestyle         68

[765 rows x 1 columns]

### 21) What is the average age of athletes in each Olympic event?

In [36]:
olydf.pivot_table( values = 'Age', index = 'Event', aggfunc = 'mean' )

                                                      Age
Event
Aeronautics Mixed Aeronautics                   26.000000
Alpine Skiing Men's Combined                    24.100352
Alpine Skiing Men's Downhill                    24.083770
Alpine Skiing Men's Giant Slalom                23.330452
Alpine Skiing Men's Slalom                      23.523323
...                                                   ...
Wrestling Women's Flyweight, Freestyle          24.897059
Wrestling Women's Heavyweight, Freestyle        25.843750
Wrestling Women's Light-Heavyweight, Freestyle  24.777778
Wrestling Women's Lightweight, Freestyle        25.104478
Wrestling Women's Middleweight, Freestyle       25.352941

[757 rows x 1 columns]

### 22) How many medals were won by athlete in each Olympic event?

In [39]:
olydf.pivot_table( values = 'Medal', index = 'Event', aggfunc='count')

                                                Medal
Event
Aeronautics Mixed Aeronautics                       1
Alpine Skiing Men's Combined                       30
Alpine Skiing Men's Downhill                       55
Alpine Skiing Men's Giant Slalom                   51
Alpine Skiing Men's Slalom                         54
...                                               ...
Wrestling Women's Flyweight, Freestyle             15
Wrestling Women's Heavyweight, Freestyle           15
Wrestling Women's Light-Heavyweight, Freestyle      4
Wrestling Women's Lightweight, Freestyle           15
Wrestling Women's Middleweight, Freestyle          15

[765 rows x 1 columns]

### 23) What is the distribution of medals based on event?

In [44]:
olydf.pivot_table( values = 'Name', index = 'Event', columns='Medal', aggfunc='count')

Medal                                           Bronze  Gold  Silver
Event
Aeronautics Mixed Aeronautics                      NaN   1.0     NaN
Alpine Skiing Men's Combined                      10.0  10.0    10.0
Alpine Skiing Men's Downhill                      19.0  18.0    18.0
Alpine Skiing Men's Giant Slalom                  17.0  17.0    17.0
Alpine Skiing Men's Slalom                        18.0  18.0    18.0
...                                                ...   ...     ...
Wrestling Women's Flyweight, Freestyle             7.0   4.0     4.0
Wrestling Women's Heavyweight, Freestyle           7.0   4.0     4.0
Wrestling Women's Light-Heavyweight, Freestyle     2.0   1.0     1.0
Wrestling Women's Lightweight, Freestyle           7.0   4.0     4.0
Wrestling Women's Middleweight, Freestyle          7.0   4.0     4.0

[756 rows x 3 columns]

### 24) How many athletes won medals in each event category?

In [46]:
olydf.pivot_table( values = 'Medal', index = 'Sport', aggfunc = 'count')

                  Medal
Sport
Aeronautics           1
Alpine Skiing       428
Alpinism             25
Archery             353
Art Competitions    156
...                 ...
Tug-Of-War          115
Volleyball          969
Water Polo         1057
Weightlifting       646
Wrestling          1296

[66 rows x 1 columns]

### 25) What is the average age of athletes in each event category?

In [50]:
olydf.pivot_table( values = 'Age', index = 'Sport', aggfunc = 'mean')

                        Age
Sport
Aeronautics       26.000000
Alpine Skiing     23.205462
Alpinism          38.812500
Archery           27.935226
Art Competitions  45.901009
...                     ...
Tug-Of-War        29.309524
Volleyball        25.183800
Water Polo        25.659627
Weightlifting     25.502010
Wrestling         25.798289

[66 rows x 1 columns]

### 26) How many athletes from each country participated in each event category?

In [53]:
olydf.pivot_table( values = 'Name', index = 'Sport', columns = 'NOC', aggfunc = 'count')

NOC,AFG,AHO,ALB,ALG,AND,ANG,ANT,ANZ,ARG,ARM,...,VIE,VIN,VNM,WIF,YAR,YEM,YMD,YUG,ZAM,ZIM
Sport,,,,,,,,,,,,,,,,,,,,,
Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing,NaN,NaN,7.0,10.0,105.0,NaN,NaN,NaN,262.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,2.0
Alpinism,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Archery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,9.0
Art Competitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tug-Of-War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volleyball,NaN,NaN,NaN,31.0,NaN,NaN,NaN,NaN,94.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
Water Polo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.0,NaN,NaN
Weightlifting,NaN,11.0,17.0,19.0,NaN,NaN,NaN,NaN,36.0,36.0,...,9.0,NaN,NaN,1.0,NaN,NaN,NaN,4.0,NaN,1.0
Wrestling,42.0,NaN,4.0,19.0,NaN,NaN,NaN,NaN,68.0,47.0,...,8.0,NaN,NaN,NaN,2.0,1.0,NaN,79.0,2.0,NaN

### 27) How many medals were won by athletes from each country in each event category?

In [54]:
olydf.pivot_table( values = 'Medal', index = 'Sport', columns = 'NOC', aggfunc = 'count')

NOC,AFG,AHO,ALB,ALG,AND,ANG,ANT,ANZ,ARG,ARM,...,VIE,VIN,VNM,WIF,YAR,YEM,YMD,YUG,ZAM,ZIM
Sport,,,,,,,,,,,,,,,,,,,,,
Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.0
Alpinism,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Archery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0
Art Competitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tug-Of-War,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volleyball,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Water Polo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,NaN,NaN
Weightlifting,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2.0,7.0,...,1.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0
Wrestling,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,8.0,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,16.0,0.0,NaN

### 28) What is the distribution of medals based on country and gender?

In [64]:
olydf.pivot_table(values = 'Name', index = 'NOC', columns = ['Medal','Sex'], aggfunc = 'count')

Medal Bronze        Gold        Silver
Sex        F     M     F      M      F      M
NOC
AFG      NaN   2.0   NaN    NaN    NaN    NaN
AHO      NaN   NaN   NaN    NaN    NaN    1.0
ALG      1.0   7.0   2.0    3.0    NaN    4.0
ANZ      NaN   5.0   1.0   19.0    1.0    3.0
ARG     37.0  54.0   2.0   89.0   34.0   58.0
..       ...   ...   ...    ...    ...    ...
VIE      NaN   NaN   NaN    1.0    1.0    2.0
WIF      NaN   5.0   NaN    NaN    NaN    NaN
YUG     15.0  78.0  17.0  113.0   28.0  139.0
ZAM      NaN   1.0   NaN    NaN    NaN    1.0
ZIM      1.0   NaN  17.0    NaN    4.0    NaN

[149 rows x 6 columns]

### 29) How many unique athletes are there in the dataset?

In [68]:
len(olydf['Name'].value_counts())

134732

### 30) How many athletes won the multiple medals?

In [36]:
olydf.dropna( subset = ['Medal'])['Name'].value_counts().reset_index().query("count >1").count()

Name     7015
count    7015
dtype: int64

### 31) How many athletes participated in multiple Olympic events?

In [65]:
olydf.dropna( subset = ['Event'])['Name'].value_counts().reset_index().query("count > 1").count()

Name     57723
count    57723
dtype: int64

### 32) What is the gender distribution for athletes participating in multiple events ?

In [59]:
olydf.groupby(['Name','Sex'])['Event'].value_counts().reset_index().query("count > 1")['Sex'].value_counts()

Sex
M    33115
F    14336
Name: count, dtype: int64

### 33) How many athletes won medals in multiple events?

In [82]:
olydf.dropna( subset = ['Medal']).groupby(['Name'])['Event'].nunique().reset_index().query("Event > 1").count()

Name     3613
Event    3613
dtype: int64

### 34) What is the average age of athlete who won medals in multiple events?

In [89]:
olydf.dropna( subset = ['Medal','Age']).groupby(['Age'])['Event'].nunique().reset_index().query("Event > 1 ")['Age'].mean()

np.float64(39.767857142857146)

### 35) How many medals were won by male athletes in each event category?

In [8]:
olydf.dropna( subset = ['Medal']).query("Sex == 'M'").groupby('Event')['Medal'].count().reset_index()

                                              Event  Medal
0                     Aeronautics Mixed Aeronautics      1
1                      Alpine Skiing Men's Combined     30
2                      Alpine Skiing Men's Downhill     55
3                  Alpine Skiing Men's Giant Slalom     51
4                        Alpine Skiing Men's Slalom     54
..                                              ...    ...
540    Wrestling Men's Super-Heavyweight, Freestyle     39
541  Wrestling Men's Super-Heavyweight, Greco-Roman     39
542    Wrestling Men's Unlimited Class, Greco-Roman      3
543         Wrestling Men's Welterweight, Freestyle     72
544       Wrestling Men's Welterweight, Greco-Roman     63

[545 rows x 2 columns]

### 36) How many medals were won by female athlete in each event category?

In [9]:
olydf.dropna( subset = ['Medal']).query("Sex == 'F'").groupby(['Event'])['Medal'].count().reset_index()

                                              Event  Medal
0                    Alpine Skiing Women's Combined     30
1                    Alpine Skiing Women's Downhill     54
2                Alpine Skiing Women's Giant Slalom     51
3                      Alpine Skiing Women's Slalom     54
4                     Alpine Skiing Women's Super G     24
..                                              ...    ...
237          Wrestling Women's Flyweight, Freestyle     15
238        Wrestling Women's Heavyweight, Freestyle     15
239  Wrestling Women's Light-Heavyweight, Freestyle      4
240        Wrestling Women's Lightweight, Freestyle     15
241       Wrestling Women's Middleweight, Freestyle     15

[242 rows x 2 columns]

### 37) How many athlete won medals in each event category by year?

In [10]:
olydf.dropna( subset = ['Medal']).groupby(['Year','Event'])['Medal'].count().reset_index()

      Year                                           Event  Medal
0     1896                    Athletics Men's 1,500 metres      3
1     1896                      Athletics Men's 100 metres      4
2     1896              Athletics Men's 110 metres Hurdles      2
3     1896                      Athletics Men's 400 metres      3
4     1896                      Athletics Men's 800 metres      3
...    ...                                             ...    ...
6163  2016          Wrestling Women's Flyweight, Freestyle      4
6164  2016        Wrestling Women's Heavyweight, Freestyle      4
6165  2016  Wrestling Women's Light-Heavyweight, Freestyle      4
6166  2016        Wrestling Women's Lightweight, Freestyle      4
6167  2016       Wrestling Women's Middleweight, Freestyle      4

[6168 rows x 3 columns]

### 38) What is the age distribution of athlete for each event category?

In [11]:
olydf.dropna( subset = ['Age']).groupby(['Event'])['Age'].mean().reset_index()

                                              Event        Age
0                     Aeronautics Mixed Aeronautics  26.000000
1                      Alpine Skiing Men's Combined  24.100352
2                      Alpine Skiing Men's Downhill  24.083770
3                  Alpine Skiing Men's Giant Slalom  23.330452
4                        Alpine Skiing Men's Slalom  23.523323
..                                              ...        ...
752          Wrestling Women's Flyweight, Freestyle  24.897059
753        Wrestling Women's Heavyweight, Freestyle  25.843750
754  Wrestling Women's Light-Heavyweight, Freestyle  24.777778
755        Wrestling Women's Lightweight, Freestyle  25.104478
756       Wrestling Women's Middleweight, Freestyle  25.352941

[757 rows x 2 columns]

### 39) How many medals were won by male athletes in each event by year?

In [13]:
olydf.dropna( subset = ['Medal']).query("Sex == 'M'").groupby(['Event','Year'])['Medal'].count().reset_index()

                                          Event  Year  Medal
0                 Aeronautics Mixed Aeronautics  1936      1
1                  Alpine Skiing Men's Combined  1936      3
2                  Alpine Skiing Men's Combined  1948      3
3                  Alpine Skiing Men's Combined  1988      3
4                  Alpine Skiing Men's Combined  1992      3
...                                         ...   ...    ...
4462  Wrestling Men's Welterweight, Greco-Roman  2000      3
4463  Wrestling Men's Welterweight, Greco-Roman  2004      3
4464  Wrestling Men's Welterweight, Greco-Roman  2008      4
4465  Wrestling Men's Welterweight, Greco-Roman  2012      4
4466  Wrestling Men's Welterweight, Greco-Roman  2016      4

[4467 rows x 3 columns]

### 40) How many medals were won by female athletes in each event by year?

In [14]:
olydf.dropna( subset = ['Medal']).query("Sex == 'F'").groupby(['Event','Year'])['Medal'].count().reset_index()

                                          Event  Year  Medal
0                Alpine Skiing Women's Combined  1936      3
1                Alpine Skiing Women's Combined  1948      3
2                Alpine Skiing Women's Combined  1988      3
3                Alpine Skiing Women's Combined  1992      3
4                Alpine Skiing Women's Combined  1994      3
...                                         ...   ...    ...
1829   Wrestling Women's Lightweight, Freestyle  2016      4
1830  Wrestling Women's Middleweight, Freestyle  2004      3
1831  Wrestling Women's Middleweight, Freestyle  2008      4
1832  Wrestling Women's Middleweight, Freestyle  2012      4
1833  Wrestling Women's Middleweight, Freestyle  2016      4

[1834 rows x 3 columns]

### 41) How many medals were won by athletes of different ages in each event category?

In [25]:
# Age_type column was made by using cut method of pandas in ans-7
olydf.Medal.dropna()
olydf.pivot_table(values = 'Medal', index = 'Event', columns = 'Age_type', aggfunc = 'count')

Age_type                                        Child  Teenager  Adult  Senior
Event
Aeronautics Mixed Aeronautics                       0         0      1       0
Alpine Skiing Men's Combined                        0         0     30       0
Alpine Skiing Men's Downhill                        0         1     54       0
Alpine Skiing Men's Giant Slalom                    0         1     50       0
Alpine Skiing Men's Slalom                          0         2     52       0
...                                               ...       ...    ...     ...
Wrestling Women's Flyweight, Freestyle              0         0     15       0
Wrestling Women's Heavyweight, Freestyle            0         1     14       0
Wrestling Women's Light-Heavyweight, Freestyle      0         0      4       0
Wrestling Women's Lightweight, Freestyle            0         1     14       0
Wrestling Women's Middleweight, Freestyle           0         0     15       0

[765 rows x 4 columns]

### 42) What is the distribution of medals based on city and gender?

In [69]:
olydf.dropna(subset = 'Medal').pivot_table(values = 'Medal', index = 'City', columns = 'Sex', aggfunc = 'count')

Sex                        F     M
City
Albertville               99   219
Amsterdam                 97   637
Antwerpen                 44  1264
Athina                   904  1698
Atlanta                  764  1078
Barcelona                592  1120
Beijing                  932  1116
Berlin                    88   829
Calgary                   63   200
Chamonix                   6   124
Cortina d'Ampezzo         27   123
Garmisch-Partenkirchen     9    99
Grenoble                  46   153
Helsinki                 140   757
Innsbruck                 97   300
Lake Placid               57   253
Lillehammer              108   223
London                  1035  2589
Los Angeles              556  1567
Melbourne                138   719
Mexico City              215   842
Montreal                 389   931
Moskva                   434   950
Munich                   250   965
Nagano                   189   251
Oslo                      18   118
Paris                     59  1377
Rio de Janeiro           969  1054
Roma                     156   755
Salt Lake City           208   270
Sankt Moritz              21   203
Sapporo                   45   154
Sarajevo                  54   168
Seoul                    554  1028
Sochi                    265   332
Squaw Valley              39   108
St. Louis                 10   476
Stockholm                 36   941
Sydney                   880  1124
Tokyo                    200   829
Torino                   231   295
Vancouver                229   291

### 43) How many athletes participated in each Olympic event from each city ?

In [72]:
olydf.dropna( subset = ['Name']).pivot_table(values = 'Name', index = 'Event', columns = 'City', aggfunc = 'count')

City,Albertville,Amsterdam,Antwerpen,Athina,Atlanta,Barcelona,Beijing,Berlin,Calgary,Chamonix,...,Sarajevo,Seoul,Sochi,Squaw Valley,St. Louis,Stockholm,Sydney,Tokyo,Torino,Vancouver
Event,,,,,,,,,,,,,,,,,,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Combined,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,NaN,...,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN,59.0,52.0
Alpine Skiing Men's Downhill,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,...,61.0,NaN,49.0,63.0,NaN,NaN,NaN,NaN,55.0,64.0
Alpine Skiing Men's Giant Slalom,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,NaN,...,108.0,NaN,107.0,65.0,NaN,NaN,NaN,NaN,82.0,101.0
Alpine Skiing Men's Slalom,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0,NaN,...,101.0,NaN,115.0,63.0,NaN,NaN,NaN,NaN,93.0,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,NaN,NaN,14.0,NaN,NaN,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,NaN,NaN,12.0,NaN,NaN,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,NaN,NaN,12.0,NaN,NaN,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,NaN,NaN,12.0,NaN,NaN,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 44) What is the average of athletes in each Olympic event from each city ?

In [36]:
olydf.dropna( subset = 'Age').pivot_table(values = 'Age', index = 'Event', columns = 'City', aggfunc = 'mean')

City,Albertville,Amsterdam,Antwerpen,Athina,Atlanta,Barcelona,Beijing,Berlin,Calgary,Chamonix,...,Sarajevo,Seoul,Sochi,Squaw Valley,St. Louis,Stockholm,Sydney,Tokyo,Torino,Vancouver
Event,,,,,,,,,,,,,,,,,,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Combined,23.909091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.410714,NaN,...,NaN,NaN,25.500000,NaN,NaN,NaN,NaN,NaN,24.118644,25.826923
Alpine Skiing Men's Downhill,25.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.215686,NaN,...,21.704918,NaN,27.142857,23.241935,NaN,NaN,NaN,NaN,26.545455,27.156250
Alpine Skiing Men's Giant Slalom,22.618321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.836207,NaN,...,21.617647,NaN,23.869159,23.281250,NaN,NaN,NaN,NaN,24.890244,25.227723
Alpine Skiing Men's Slalom,23.033613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.740741,NaN,...,21.666667,NaN,24.739130,23.064516,NaN,NaN,NaN,NaN,24.387097,26.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,NaN,NaN,24.5,NaN,NaN,24.470588,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,NaN,NaN,23.5,NaN,NaN,24.937500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,NaN,NaN,25.0,NaN,NaN,23.875000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,NaN,NaN,26.5,NaN,NaN,24.529412,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 45) How many medals were won by athletes in each Olympic event from each city?

In [37]:
olydf.dropna( subset = 'Medal').pivot_table(values = 'Medal', index = 'Event', columns = 'City', aggfunc = 'count')

City,Albertville,Amsterdam,Antwerpen,Athina,Atlanta,Barcelona,Beijing,Berlin,Calgary,Chamonix,...,Sarajevo,Seoul,Sochi,Squaw Valley,St. Louis,Stockholm,Sydney,Tokyo,Torino,Vancouver
Event,,,,,,,,,,,,,,,,,,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Combined,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Men's Downhill,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Men's Giant Slalom,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Men's Slalom,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 46) What is the gender distribution of athletes in each Olympic event in each city?

In [6]:
olydf.dropna( subset = 'Name').pivot_table(values ='Name', index = 'Event', columns = ['City','Sex'], aggfunc = 'count')

City                                           Albertville        Amsterdam  \
Sex                                                      F      M         F
Event
Aeronautics Mixed Aeronautics                          NaN    NaN       NaN
Alpine Skiing Men's Combined                           NaN   66.0       NaN
Alpine Skiing Men's Downhill                           NaN   55.0       NaN
Alpine Skiing Men's Giant Slalom                       NaN  131.0       NaN
Alpine Skiing Men's Slalom                             NaN  119.0       NaN
...                                                    ...    ...       ...
Wrestling Women's Flyweight, Freestyle                 NaN    NaN       NaN
Wrestling Women's Heavyweight, Freestyle               NaN    NaN       NaN
Wrestling Women's Light-Heavyweight, Freestyle         NaN    NaN       NaN
Wrestling Women's Lightweight, Freestyle               NaN    NaN       NaN
Wrestling Women's Middleweight, Freestyle              NaN    NaN       NaN

City                                               Antwerpen     Athina      \
Sex                                              M         F   M      F   M
Event
Aeronautics Mixed Aeronautics                  NaN       NaN NaN    NaN NaN
Alpine Skiing Men's Combined                   NaN       NaN NaN    NaN NaN
Alpine Skiing Men's Downhill                   NaN       NaN NaN    NaN NaN
Alpine Skiing Men's Giant Slalom               NaN       NaN NaN    NaN NaN
Alpine Skiing Men's Slalom                     NaN       NaN NaN    NaN NaN
...                                             ..       ...  ..    ...  ..
Wrestling Women's Flyweight, Freestyle         NaN       NaN NaN   14.0 NaN
Wrestling Women's Heavyweight, Freestyle       NaN       NaN NaN   12.0 NaN
Wrestling Women's Light-Heavyweight, Freestyle NaN       NaN NaN    NaN NaN
Wrestling Women's Lightweight, Freestyle       NaN       NaN NaN   12.0 NaN
Wrestling Women's Middleweight, Freestyle      NaN       NaN NaN   12.0 NaN

City                                           Atlanta      ... Stockholm      \
Sex                                                  F   M  ...         F   M
Event                                                       ...
Aeronautics Mixed Aeronautics                      NaN NaN  ...       NaN NaN
Alpine Skiing Men's Combined                       NaN NaN  ...       NaN NaN
Alpine Skiing Men's Downhill                       NaN NaN  ...       NaN NaN
Alpine Skiing Men's Giant Slalom                   NaN NaN  ...       NaN NaN
Alpine Skiing Men's Slalom                         NaN NaN  ...       NaN NaN
...                                                ...  ..  ...       ...  ..
Wrestling Women's Flyweight, Freestyle             NaN NaN  ...       NaN NaN
Wrestling Women's Heavyweight, Freestyle           NaN NaN  ...       NaN NaN
Wrestling Women's Light-Heavyweight, Freestyle     NaN NaN  ...       NaN NaN
Wrestling Women's Lightweight, Freestyle           NaN NaN  ...       NaN NaN
Wrestling Women's Middleweight, Freestyle          NaN NaN  ...       NaN NaN

City                                           Sydney     Tokyo     Torino  \
Sex                                                 F   M     F   M      F
Event
Aeronautics Mixed Aeronautics                     NaN NaN   NaN NaN    NaN
Alpine Skiing Men's Combined                      NaN NaN   NaN NaN    NaN
Alpine Skiing Men's Downhill                      NaN NaN   NaN NaN    NaN
Alpine Skiing Men's Giant Slalom                  NaN NaN   NaN NaN    NaN
Alpine Skiing Men's Slalom                        NaN NaN   NaN NaN    NaN
...                                               ...  ..   ...  ..    ...
Wrestling Women's Flyweight, Freestyle            NaN NaN   NaN NaN    NaN
Wrestling Women's Heavyweight, Freestyle          NaN NaN   NaN NaN    NaN
Wrestling Women's Light-Heavyweight, Freestyle    NaN NaN   NaN NaN    NaN
Wrestling Women's Lightweight, Freestyle          NaN NaN   NaN NaN    NaN
Wrestling Women's Middleweight, Freestyle         NaN NaN   NaN NaN    NaN

City                                                 Vancouver
Sex                                                M         F      M
Event
Aeronautics Mixed Aeronautics                    NaN       NaN    NaN
Alpine Skiing Men's Combined                    59.0       NaN   52.0
Alpine Skiing Men's Downhill                    55.0       NaN   64.0
Alpine Skiing Men's Giant Slalom                82.0       NaN  101.0
Alpine Skiing Men's Slalom                      93.0       NaN  101.0
...                                              ...       ...    ...
Wrestling Women's Flyweight, Freestyle           NaN       NaN    NaN
Wrestling Women's Heavyweight, Freestyle         NaN       NaN    NaN
Wrestling Women's Light-Heavyweight, Freestyle   NaN       NaN    NaN
Wrestling Women's Lightweight, Freestyle         NaN       NaN    NaN
Wrestling Women's Middleweight, Freestyle        NaN       NaN    NaN

[765 rows x 84 columns]

### 47) How many medals were won by male athletes in each Olympic event from each city?

In [7]:
olydf.dropna( subset = 'Medal').query("Sex == 'M'").pivot_table( values = 'Medal', index = 'Event', columns = 'City', aggfunc = 'count')

City,Albertville,Amsterdam,Antwerpen,Athina,Atlanta,Barcelona,Beijing,Berlin,Calgary,Chamonix,...,Sarajevo,Seoul,Sochi,Squaw Valley,St. Louis,Stockholm,Sydney,Tokyo,Torino,Vancouver
Event,,,,,,,,,,,,,,,,,,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Combined,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Men's Downhill,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Men's Giant Slalom,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Men's Slalom,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Men's Super-Heavyweight, Freestyle",NaN,NaN,NaN,3.0,3.0,3.0,4.0,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
"Wrestling Men's Super-Heavyweight, Greco-Roman",NaN,NaN,NaN,3.0,3.0,3.0,4.0,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
"Wrestling Men's Unlimited Class, Greco-Roman",NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Men's Welterweight, Freestyle",NaN,3.0,NaN,3.0,3.0,3.0,4.0,3.0,NaN,NaN,...,NaN,3.0,NaN,NaN,3.0,NaN,3.0,3.0,NaN,NaN
"Wrestling Men's Welterweight, Greco-Roman",NaN,NaN,NaN,3.0,3.0,3.0,4.0,3.0,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN

### 48) How many medals were won by female athletes in each Olympic event from each city?

In [9]:
olydf.dropna( subset = 'Medal').query("Sex == 'F'").pivot_table( values = 'Medal', index = 'Event', columns = 'City', aggfunc = 'count')

City,Albertville,Amsterdam,Antwerpen,Athina,Atlanta,Barcelona,Beijing,Berlin,Calgary,Chamonix,...,Sarajevo,Seoul,Sochi,Squaw Valley,St. Louis,Stockholm,Sydney,Tokyo,Torino,Vancouver
Event,,,,,,,,,,,,,,,,,,,,,
Alpine Skiing Women's Combined,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Women's Downhill,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Women's Giant Slalom,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Women's Slalom,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,3.0
Alpine Skiing Women's Super G,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 49) How many athletes from each country won gold, silver and bronze medals?

In [12]:
olydf.dropna( subset = 'Medal').pivot_table(values = 'Name', index = 'NOC', columns = 'Medal', aggfunc = 'count')

Medal  Bronze   Gold  Silver
NOC
AFG       2.0    NaN     NaN
AHO       NaN    NaN     1.0
ALG       8.0    5.0     4.0
ANZ       5.0   20.0     4.0
ARG      91.0   91.0    92.0
..        ...    ...     ...
VIE       NaN    1.0     3.0
WIF       5.0    NaN     NaN
YUG      93.0  130.0   167.0
ZAM       1.0    NaN     1.0
ZIM       1.0   17.0     4.0

[149 rows x 3 columns]

### 50) How many athletes from each country participated in each Olympic year?

In [14]:
olydf.pivot_table(values = 'Name', index = 'NOC', columns = 'Year', aggfunc = 'count')

Year,1896,1900,1904,1906,1908,1912,1920,1924,1928,1932,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
NOC,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,4.0,NaN,6.0,NaN,3.0
AHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,7.0,3.0,12.0,2.0,10.0,2.0,6.0
ALG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,51.0,NaN,71.0,3.0,57.0,1.0,39.0,NaN,74.0
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,5.0,5.0,6.0,10.0,5.0,20.0,6.0,12.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,3.0,NaN,8.0,NaN,4.0,NaN,3.0
YMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YUG,NaN,NaN,NaN,NaN,NaN,NaN,15.0,123.0,94.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,6.0,NaN,8.0,NaN,7.0,NaN,7.0
ZIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,26.0,NaN,14.0,NaN,16.0,NaN,9.0,2.0,31.0

### 51) What is the distribution of medals based on country and age group?

In [16]:
# Age_type column is created by using cut method of pandas (Ans-7) 
olydf.dropna( subset = 'Medal').pivot_table( values = 'Medal', index ='NOC', columns = 'Age_type', aggfunc = 'count')

Age_type  Child  Teenager  Adult  Senior
NOC
AFG           0         0      2       0
AHO           0         1      0       0
ALG           0         1     16       0
ANZ           0         2     27       0
ARG           0         8    266       0
..          ...       ...    ...     ...
VIE           0         0      4       0
WIF           0         0      5       0
YUG           0        28    361       0
ZAM           0         0      1       0
ZIM           0         0     22       0

[149 rows x 4 columns]

### 52) How many athletes won medals in each event by country?

In [18]:
olydf.dropna( subset = 'Medal').pivot_table( values ='Medal', index = 'Event', columns = 'NOC', aggfunc = 'count')

NOC,AFG,AHO,ALG,ANZ,ARG,ARM,AUS,AUT,AZE,BAH,...,URS,URU,USA,UZB,VEN,VIE,WIF,YUG,ZAM,ZIM
Event,,,,,,,,,,,,,,,,,,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Combined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Downhill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Giant Slalom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Alpine Skiing Men's Slalom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 53) What is the average age of athletes from each country?

In [19]:
olydf.groupby(['NOC'])['Age'].mean().reset_index()

     NOC        Age
0    AFG  23.538462
1    AHO  26.589744
2    ALB  25.342857
3    ALG  24.370642
4    AND  23.065089
..   ...        ...
225  YEM  21.093750
226  YMD  23.600000
227  YUG  24.745721
228  ZAM  23.461039
229  ZIM  25.200647

[230 rows x 2 columns]

### 54) How many medals were won by athletes from each country by gender?

In [21]:
olydf.dropna( subset = 'Medal').pivot_table(values = 'Medal', index ='NOC', columns = 'Sex', aggfunc = 'count')

Sex     F      M
NOC
AFG   NaN    2.0
AHO   NaN    1.0
ALG   3.0   14.0
ANZ   2.0   27.0
ARG  73.0  201.0
..    ...    ...
VIE   1.0    3.0
WIF   NaN    5.0
YUG  60.0  330.0
ZAM   NaN    2.0
ZIM  22.0    NaN

[149 rows x 2 columns]

### 55) How many countries participated in each Olympic event ?

In [25]:
olydf.groupby(['Event'])['NOC'].count().reset_index()

                                              Event   NOC
0                     Aeronautics Mixed Aeronautics     1
1                      Alpine Skiing Men's Combined   569
2                      Alpine Skiing Men's Downhill  1164
3                  Alpine Skiing Men's Giant Slalom  1535
4                        Alpine Skiing Men's Slalom  1593
..                                              ...   ...
760          Wrestling Women's Flyweight, Freestyle    68
761        Wrestling Women's Heavyweight, Freestyle    64
762  Wrestling Women's Light-Heavyweight, Freestyle    18
763        Wrestling Women's Lightweight, Freestyle    67
764       Wrestling Women's Middleweight, Freestyle    68

[765 rows x 2 columns]

### 54) What is the average age of athletes in each Olympic event by gender ?

In [27]:
olydf.pivot_table( values = 'Age', index = 'Event', columns = 'Sex', aggfunc = 'mean')

Sex                                                     F          M
Event
Aeronautics Mixed Aeronautics                         NaN  26.000000
Alpine Skiing Men's Combined                          NaN  24.100352
Alpine Skiing Men's Downhill                          NaN  24.083770
Alpine Skiing Men's Giant Slalom                      NaN  23.330452
Alpine Skiing Men's Slalom                            NaN  23.523323
...                                                   ...        ...
Wrestling Women's Flyweight, Freestyle          24.897059        NaN
Wrestling Women's Heavyweight, Freestyle        25.843750        NaN
Wrestling Women's Light-Heavyweight, Freestyle  24.777778        NaN
Wrestling Women's Lightweight, Freestyle        25.104478        NaN
Wrestling Women's Middleweight, Freestyle       25.352941        NaN

[757 rows x 2 columns]

### 55) How many medals were won by athletes in each Olympic event by gender ?

In [30]:
olydf.dropna( subset = 'Medal').pivot_table( values = 'Medal', index = 'Event', columns ='Sex', aggfunc = 'count')

Sex                                                F     M
Event
Aeronautics Mixed Aeronautics                    NaN   1.0
Alpine Skiing Men's Combined                     NaN  30.0
Alpine Skiing Men's Downhill                     NaN  55.0
Alpine Skiing Men's Giant Slalom                 NaN  51.0
Alpine Skiing Men's Slalom                       NaN  54.0
...                                              ...   ...
Wrestling Women's Flyweight, Freestyle          15.0   NaN
Wrestling Women's Heavyweight, Freestyle        15.0   NaN
Wrestling Women's Light-Heavyweight, Freestyle   4.0   NaN
Wrestling Women's Lightweight, Freestyle        15.0   NaN
Wrestling Women's Middleweight, Freestyle       15.0   NaN

[756 rows x 2 columns]

### 56) What is the distribution of medals based on event and age group ?

In [49]:
olydf.dropna( subset = 'Medal').pivot_table(values = 'Medal', index = 'Event', columns = 'Age_type', aggfunc = 'count')

Age_type                                        Child  Teenager  Adult  Senior
Event
Aeronautics Mixed Aeronautics                       0         0      1       0
Alpine Skiing Men's Combined                        0         0     30       0
Alpine Skiing Men's Downhill                        0         1     54       0
Alpine Skiing Men's Giant Slalom                    0         1     50       0
Alpine Skiing Men's Slalom                          0         2     52       0
...                                               ...       ...    ...     ...
Wrestling Women's Flyweight, Freestyle              0         0     15       0
Wrestling Women's Heavyweight, Freestyle            0         1     14       0
Wrestling Women's Light-Heavyweight, Freestyle      0         0      4       0
Wrestling Women's Lightweight, Freestyle            0         1     14       0
Wrestling Women's Middleweight, Freestyle           0         0     15       0

[756 rows x 4 columns]

### 57) How many athelets won medals in each event category by gender ?

In [51]:
olydf.dropna( subset = 'Medal').pivot_table(values = 'Medal', index = 'Sport', columns = 'Sex', aggfunc ='count')

Sex                   F       M
Sport
Aeronautics         NaN     1.0
Alpine Skiing     213.0   215.0
Alpinism            1.0    24.0
Archery           121.0   232.0
Art Competitions   11.0   145.0
...                 ...     ...
Tug-Of-War          NaN   115.0
Volleyball        474.0   495.0
Water Polo        191.0   866.0
Weightlifting     105.0   541.0
Wrestling          68.0  1228.0

[66 rows x 2 columns]

### 58) What is the average age of male and female athletes in each event category ?

In [54]:
olydf.pivot_table( values = 'Age', index = 'Sport', columns = 'Sex', aggfunc = 'mean')

Sex                       F          M
Sport
Aeronautics             NaN  26.000000
Alpine Skiing     22.334609  23.758266
Alpinism          43.000000  38.533333
Archery           26.508458  29.083267
Art Competitions  44.411960  46.062816
...                     ...        ...
Tug-Of-War              NaN  29.309524
Volleyball        24.431627  25.810475
Water Polo        25.161885  25.736542
Weightlifting     24.028078  25.710832
Wrestling         25.305921  25.821827

[66 rows x 2 columns]

### 59) How many medals were won by athletes from each gender in each event category ?

In [55]:
olydf.dropna( subset = 'Medal' ).pivot_table( values = 'Medal', index = 'Sport', columns = 'Sex', aggfunc = 'count')

Sex                   F       M
Sport
Aeronautics         NaN     1.0
Alpine Skiing     213.0   215.0
Alpinism            1.0    24.0
Archery           121.0   232.0
Art Competitions   11.0   145.0
...                 ...     ...
Tug-Of-War          NaN   115.0
Volleyball        474.0   495.0
Water Polo        191.0   866.0
Weightlifting     105.0   541.0
Wrestling          68.0  1228.0

[66 rows x 2 columns]

### 60) How many unique athletes participated in each Olympic event by gender ?

In [60]:
olydf.pivot_table( values = 'Name', index = 'Sport', columns = 'Sex', aggfunc = 'nunique')

Sex                    F       M
Sport
Aeronautics          NaN     1.0
Alpine Skiing      996.0  1738.0
Alpinism             1.0    24.0
Archery            500.0   613.0
Art Competitions   204.0  1610.0
...                  ...     ...
Tug-Of-War           NaN   160.0
Volleyball        1128.0  1374.0
Water Polo         337.0  2262.0
Weightlifting      356.0  2524.0
Wrestling          222.0  4765.0

[66 rows x 2 columns]

### 61) How many athletes won multiple medals in each event category ?

In [67]:
olydf.dropna( subset = 'Medal').groupby(['Sport'])['Name'].value_counts().reset_index().query("count > 1").count()

Sport    6962
Name     6962
count    6962
dtype: int64

### 62) What is the age distribution of male and female athletes in each event category ?

In [73]:
olydf.pivot_table( values = 'Age', index = 'Sport', columns = 'Sex', aggfunc = ['min','max','mean'])

                   min         max             mean
Sex                  F     M     F     M          F          M
Sport
Aeronautics        NaN  26.0   NaN  26.0        NaN  26.000000
Alpine Skiing     14.0  14.0  45.0  55.0  22.334609  23.758266
Alpinism          43.0  22.0  43.0  57.0  43.000000  38.533333
Archery           14.0  15.0  63.0  71.0  26.508458  29.083267
Art Competitions  17.0  14.0  74.0  97.0  44.411960  46.062816
...                ...   ...   ...   ...        ...        ...
Tug-Of-War         NaN  17.0   NaN  45.0        NaN  29.309524
Volleyball        15.0  17.0  39.0  41.0  24.431627  25.810475
Water Polo        16.0  14.0  41.0  45.0  25.161885  25.736542
Weightlifting     15.0  15.0  43.0  45.0  24.028078  25.710832
Wrestling         18.0  15.0  38.0  50.0  25.305921  25.821827

[66 rows x 6 columns]

### 63) How many medals were won by athletes from each country in each event category by gender ?

In [75]:
olydf.dropna( subset = 'Medal').pivot_table( values = 'Medal', index = 'Sport', columns = ['NOC','Sex'], aggfunc = 'count')

NOC              AFG AHO ALG     ANZ     ARG        ARM       ...   UZB VEN  \
Sex                M   M   F   M   F   M   F     M    F    M  ...     M   F
Sport                                                         ...
Aeronautics      NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Alpine Skiing    NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Alpinism         NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Archery          NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Art Competitions NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
...               ..  ..  ..  ..  ..  ..  ..   ...  ...  ...  ...   ...  ..
Tug-Of-War       NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Volleyball       NaN NaN NaN NaN NaN NaN NaN  12.0  NaN  NaN  ...   NaN NaN
Water Polo       NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Weightlifting    NaN NaN NaN NaN NaN NaN NaN   2.0  1.0  6.0  ...   1.0 NaN
Wrestling        NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  8.0  ...  10.0 NaN

NOC                   VIE      WIF  YUG       ZAM ZIM
Sex                 M   F    M   M    F     M   M   F
Sport
Aeronautics       NaN NaN  NaN NaN  NaN   NaN NaN NaN
Alpine Skiing     NaN NaN  NaN NaN  1.0   1.0 NaN NaN
Alpinism          NaN NaN  NaN NaN  NaN   NaN NaN NaN
Archery           NaN NaN  NaN NaN  NaN   NaN NaN NaN
Art Competitions  NaN NaN  NaN NaN  NaN   NaN NaN NaN
...               ...  ..  ...  ..  ...   ...  ..  ..
Tug-Of-War        NaN NaN  NaN NaN  NaN   NaN NaN NaN
Volleyball        NaN NaN  NaN NaN  NaN   NaN NaN NaN
Water Polo        NaN NaN  NaN NaN  NaN  76.0 NaN NaN
Weightlifting     1.0 NaN  1.0 NaN  NaN   NaN NaN NaN
Wrestling         NaN NaN  NaN NaN  NaN  16.0 NaN NaN

[66 rows x 244 columns]

### 64) How many athletes won medals in each event category by country and gender ?

In [76]:
olydf.dropna( subset = 'Medal').pivot_table( values = 'Name', index = 'Sport', columns = ['NOC','Sex'], aggfunc = 'count')

NOC              AFG AHO ALG     ANZ     ARG        ARM       ...   UZB VEN  \
Sex                M   M   F   M   F   M   F     M    F    M  ...     M   F
Sport                                                         ...
Aeronautics      NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Alpine Skiing    NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Alpinism         NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Archery          NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Art Competitions NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
...               ..  ..  ..  ..  ..  ..  ..   ...  ...  ...  ...   ...  ..
Tug-Of-War       NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Volleyball       NaN NaN NaN NaN NaN NaN NaN  12.0  NaN  NaN  ...   NaN NaN
Water Polo       NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  NaN  ...   NaN NaN
Weightlifting    NaN NaN NaN NaN NaN NaN NaN   2.0  1.0  6.0  ...   1.0 NaN
Wrestling        NaN NaN NaN NaN NaN NaN NaN   NaN  NaN  8.0  ...  10.0 NaN

NOC                   VIE      WIF  YUG       ZAM ZIM
Sex                 M   F    M   M    F     M   M   F
Sport
Aeronautics       NaN NaN  NaN NaN  NaN   NaN NaN NaN
Alpine Skiing     NaN NaN  NaN NaN  1.0   1.0 NaN NaN
Alpinism          NaN NaN  NaN NaN  NaN   NaN NaN NaN
Archery           NaN NaN  NaN NaN  NaN   NaN NaN NaN
Art Competitions  NaN NaN  NaN NaN  NaN   NaN NaN NaN
...               ...  ..  ...  ..  ...   ...  ..  ..
Tug-Of-War        NaN NaN  NaN NaN  NaN   NaN NaN NaN
Volleyball        NaN NaN  NaN NaN  NaN   NaN NaN NaN
Water Polo        NaN NaN  NaN NaN  NaN  76.0 NaN NaN
Weightlifting     1.0 NaN  1.0 NaN  NaN   NaN NaN NaN
Wrestling         NaN NaN  NaN NaN  NaN  16.0 NaN NaN

[66 rows x 244 columns]

### 65) What is the averag age of athletes who won medals in each event by country ?

In [78]:
olydf.dropna( subset = 'Medal').pivot_table( values = 'Age', index = 'Event', columns = 'NOC', aggfunc = 'mean')

NOC,AFG,AHO,ALG,ANZ,ARG,ARM,AUS,AUT,AZE,BAH,...,URS,URU,USA,UZB,VEN,VIE,WIF,YUG,ZAM,ZIM
Event,,,,,,,,,,,,,,,,,,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Combined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.166667,NaN,NaN,...,NaN,NaN,25.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Downhill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.388889,NaN,NaN,...,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alpine Skiing Men's Giant Slalom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.333333,NaN,NaN,...,NaN,NaN,26.500000,NaN,NaN,NaN,NaN,21.0,NaN,NaN
Alpine Skiing Men's Slalom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.500000,NaN,NaN,...,NaN,NaN,22.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,NaN,...,NaN,NaN,27.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 66) How many medals were won by male and female athletes in each event by country ?

In [79]:
olydf.dropna( subset = 'Medal').pivot_table( values = 'Medal', index = 'Event', columns = ['NOC','Sex'], aggfunc = 'count')

NOC                                            AFG AHO ALG     ANZ     ARG  \
Sex                                              M   M   F   M   F   M   F
Event
Aeronautics Mixed Aeronautics                  NaN NaN NaN NaN NaN NaN NaN
Alpine Skiing Men's Combined                   NaN NaN NaN NaN NaN NaN NaN
Alpine Skiing Men's Downhill                   NaN NaN NaN NaN NaN NaN NaN
Alpine Skiing Men's Giant Slalom               NaN NaN NaN NaN NaN NaN NaN
Alpine Skiing Men's Slalom                     NaN NaN NaN NaN NaN NaN NaN
...                                             ..  ..  ..  ..  ..  ..  ..
Wrestling Women's Flyweight, Freestyle         NaN NaN NaN NaN NaN NaN NaN
Wrestling Women's Heavyweight, Freestyle       NaN NaN NaN NaN NaN NaN NaN
Wrestling Women's Light-Heavyweight, Freestyle NaN NaN NaN NaN NaN NaN NaN
Wrestling Women's Lightweight, Freestyle       NaN NaN NaN NaN NaN NaN NaN
Wrestling Women's Middleweight, Freestyle      NaN NaN NaN NaN NaN NaN NaN

NOC                                                ARM      ... UZB VEN      \
Sex                                              M   F   M  ...   M   F   M
Event                                                       ...
Aeronautics Mixed Aeronautics                  NaN NaN NaN  ... NaN NaN NaN
Alpine Skiing Men's Combined                   NaN NaN NaN  ... NaN NaN NaN
Alpine Skiing Men's Downhill                   NaN NaN NaN  ... NaN NaN NaN
Alpine Skiing Men's Giant Slalom               NaN NaN NaN  ... NaN NaN NaN
Alpine Skiing Men's Slalom                     NaN NaN NaN  ... NaN NaN NaN
...                                             ..  ..  ..  ...  ..  ..  ..
Wrestling Women's Flyweight, Freestyle         NaN NaN NaN  ... NaN NaN NaN
Wrestling Women's Heavyweight, Freestyle       NaN NaN NaN  ... NaN NaN NaN
Wrestling Women's Light-Heavyweight, Freestyle NaN NaN NaN  ... NaN NaN NaN
Wrestling Women's Lightweight, Freestyle       NaN NaN NaN  ... NaN NaN NaN
Wrestling Women's Middleweight, Freestyle      NaN NaN NaN  ... NaN NaN NaN

NOC                                            VIE     WIF YUG      ZAM ZIM
Sex                                              F   M   M   F    M   M   F
Event
Aeronautics Mixed Aeronautics                  NaN NaN NaN NaN  NaN NaN NaN
Alpine Skiing Men's Combined                   NaN NaN NaN NaN  NaN NaN NaN
Alpine Skiing Men's Downhill                   NaN NaN NaN NaN  NaN NaN NaN
Alpine Skiing Men's Giant Slalom               NaN NaN NaN NaN  1.0 NaN NaN
Alpine Skiing Men's Slalom                     NaN NaN NaN NaN  NaN NaN NaN
...                                             ..  ..  ..  ..  ...  ..  ..
Wrestling Women's Flyweight, Freestyle         NaN NaN NaN NaN  NaN NaN NaN
Wrestling Women's Heavyweight, Freestyle       NaN NaN NaN NaN  NaN NaN NaN
Wrestling Women's Light-Heavyweight, Freestyle NaN NaN NaN NaN  NaN NaN NaN
Wrestling Women's Lightweight, Freestyle       NaN NaN NaN NaN  NaN NaN NaN
Wrestling Women's Middleweight, Freestyle      NaN NaN NaN NaN  NaN NaN NaN

[756 rows x 244 columns]

### 67) How many athletes from each age group participated in each Olympic event ?

In [80]:
olydf.pivot_table( values = 'Name', index = 'Event', columns = 'Age_type', aggfunc = 'count')

Age_type                                        Child  Teenager  Adult  Senior
Event
Aeronautics Mixed Aeronautics                       0         0      1       0
Alpine Skiing Men's Combined                        0        42    526       0
Alpine Skiing Men's Downhill                        0       130   1016       0
Alpine Skiing Men's Giant Slalom                    0       233   1271       0
Alpine Skiing Men's Slalom                          0       223   1342       0
...                                               ...       ...    ...     ...
Wrestling Women's Flyweight, Freestyle              0         6     62       0
Wrestling Women's Heavyweight, Freestyle            0         4     60       0
Wrestling Women's Light-Heavyweight, Freestyle      0         0     18       0
Wrestling Women's Lightweight, Freestyle            0         3     64       0
Wrestling Women's Middleweight, Freestyle           0         2     66       0

[765 rows x 4 columns]

### 68) What is the average age of athletes from each age group in each Olympic event ?

In [81]:
olydf.pivot_table( values = 'Age', index = 'Event', columns = 'Age_type', aggfunc = 'mean')

Age_type,Child,Teenager,Adult,Senior
Event,,,,
Aeronautics Mixed Aeronautics,NaN,NaN,26.000000,NaN
Alpine Skiing Men's Combined,NaN,18.261905,24.566540,NaN
Alpine Skiing Men's Downhill,NaN,18.276923,24.826772,NaN
Alpine Skiing Men's Giant Slalom,NaN,18.051502,24.298190,NaN
Alpine Skiing Men's Slalom,NaN,18.026906,24.436662,NaN
...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",NaN,18.500000,25.516129,NaN
"Wrestling Women's Heavyweight, Freestyle",NaN,18.500000,26.333333,NaN
"Wrestling Women's Light-Heavyweight, Freestyle",NaN,NaN,24.777778,NaN
"Wrestling Women's Lightweight, Freestyle",NaN,18.666667,25.406250,NaN
"Wrestling Women's Middleweight, Freestyle",NaN,18.500000,25.560606,NaN

### 69) How many medals were won by athletes from each age group in each Olympic event ?

In [82]:
olydf.dropna( subset = 'Medal').pivot_table(values = 'Medal', index = 'Event' , columns = 'Age_type', aggfunc  = 'count')

Age_type                                        Child  Teenager  Adult  Senior
Event
Aeronautics Mixed Aeronautics                       0         0      1       0
Alpine Skiing Men's Combined                        0         0     30       0
Alpine Skiing Men's Downhill                        0         1     54       0
Alpine Skiing Men's Giant Slalom                    0         1     50       0
Alpine Skiing Men's Slalom                          0         2     52       0
...                                               ...       ...    ...     ...
Wrestling Women's Flyweight, Freestyle              0         0     15       0
Wrestling Women's Heavyweight, Freestyle            0         1     14       0
Wrestling Women's Light-Heavyweight, Freestyle      0         0      4       0
Wrestling Women's Lightweight, Freestyle            0         1     14       0
Wrestling Women's Middleweight, Freestyle           0         0     15       0

[756 rows x 4 columns]

### 70) What is the gender distribution of athletes from each age group in each Olympic event ?

In [85]:
olydf.pivot_table( values = 'Age', index = 'Event', columns = ['Age_type','Sex'], aggfunc = 'count')

Age_type                                       Child    Teenager      Adult  \
Sex                                                F  M        F    M     F
Event
Aeronautics Mixed Aeronautics                      0  0        0    0     0
Alpine Skiing Men's Combined                       0  0        0   42     0
Alpine Skiing Men's Downhill                       0  0        0  130     0
Alpine Skiing Men's Giant Slalom                   0  0        0  233     0
Alpine Skiing Men's Slalom                         0  0        0  223     0
...                                              ... ..      ...  ...   ...
Wrestling Women's Flyweight, Freestyle             0  0        6    0    62
Wrestling Women's Heavyweight, Freestyle           0  0        4    0    60
Wrestling Women's Light-Heavyweight, Freestyle     0  0        0    0    18
Wrestling Women's Lightweight, Freestyle           0  0        3    0    64
Wrestling Women's Middleweight, Freestyle          0  0        2    0    66

Age_type                                             Senior
Sex                                                M      F  M
Event
Aeronautics Mixed Aeronautics                      1      0  0
Alpine Skiing Men's Combined                     526      0  0
Alpine Skiing Men's Downhill                    1016      0  0
Alpine Skiing Men's Giant Slalom                1271      0  0
Alpine Skiing Men's Slalom                      1342      0  0
...                                              ...    ... ..
Wrestling Women's Flyweight, Freestyle             0      0  0
Wrestling Women's Heavyweight, Freestyle           0      0  0
Wrestling Women's Light-Heavyweight, Freestyle     0      0  0
Wrestling Women's Lightweight, Freestyle           0      0  0
Wrestling Women's Middleweight, Freestyle          0      0  0

[765 rows x 8 columns]

### 71) How many medals were won by male and female athletes from each age group in each Olympic event ?

In [86]:
olydf.dropna( subset = 'Medal').pivot_table( values = 'Medal', index = 'Event', columns = ['Age_type','Sex'], aggfunc = 'count')

Age_type                                       Child    Teenager    Adult      \
Sex                                                F  M        F  M     F   M
Event
Aeronautics Mixed Aeronautics                      0  0        0  0     0   1
Alpine Skiing Men's Combined                       0  0        0  0     0  30
Alpine Skiing Men's Downhill                       0  0        0  1     0  54
Alpine Skiing Men's Giant Slalom                   0  0        0  1     0  50
Alpine Skiing Men's Slalom                         0  0        0  2     0  52
...                                              ... ..      ... ..   ...  ..
Wrestling Women's Flyweight, Freestyle             0  0        0  0    15   0
Wrestling Women's Heavyweight, Freestyle           0  0        1  0    14   0
Wrestling Women's Light-Heavyweight, Freestyle     0  0        0  0     4   0
Wrestling Women's Lightweight, Freestyle           0  0        1  0    14   0
Wrestling Women's Middleweight, Freestyle          0  0        0  0    15   0

Age_type                                       Senior
Sex                                                 F  M
Event
Aeronautics Mixed Aeronautics                       0  0
Alpine Skiing Men's Combined                        0  0
Alpine Skiing Men's Downhill                        0  0
Alpine Skiing Men's Giant Slalom                    0  0
Alpine Skiing Men's Slalom                          0  0
...                                               ... ..
Wrestling Women's Flyweight, Freestyle              0  0
Wrestling Women's Heavyweight, Freestyle            0  0
Wrestling Women's Light-Heavyweight, Freestyle      0  0
Wrestling Women's Lightweight, Freestyle            0  0
Wrestling Women's Middleweight, Freestyle           0  0

[756 rows x 8 columns]